body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('/dist/images/pattern.png');
    background-repeat: repeat;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.navbar-inverse { background-color: black; }

.navbar-nav {
    flex-direction: row;
    align-items: baseline;
}

.nav__item a {
     color: white;
}

.nav__item {
    margin-right: 40px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-toggler { color: white; }

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-toggler:focus,
.navbar-inverse .navbar-toggler:hover { color: white; }

.navbar-inverse .navbar-nav .nav-link { color: rgba(255, 255, 255, 0.5); }

.navbar-inverse .navbar-nav .nav-link:focus, .navbar-inverse .navbar-nav .nav-link:hover { color: rgba(255, 255, 255, 0.75); }

.navbar-inverse .navbar-nav .nav-link.disabled { color: rgba(255, 255, 255, 0.25); }

.navbar-inverse .navbar-nav .open > .nav-link,
.navbar-inverse .navbar-nav .active > .nav-link,
.navbar-inverse .navbar-nav .nav-link.open,
.navbar-inverse .navbar-nav .nav-link.active { color: white; }

.navbar-inverse .navbar-toggler { border-color: rgba(255, 255, 255, 0.1); }

.navbar-inverse .navbar-toggler-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }

.navbar-inverse .navbar-text { color: rgba(255, 255, 255, 0.5); }

.form-horizontal {
    margin-top:50px;
    width:400px;
}

.form-group_checkbox {
    display: flex;
    align-items:center;
}

.control-label {
    margin-right: 8px;
}