<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
            <ul class="nav navbar-nav">
                <li class="nav__item"><a asp-controller="Home" asp-action="Index" class="navbar-brand">Bethany's Pie Shop</a></li>
                <li class="nav__item"><a asp-controller="Feedback" asp-action="Index">Contact us</a></li>
            </ul>
    </div>
</nav>
<div class="container body-content">
    <div class="row">
        @RenderBody()
    </div>
</div>
<environment names="Development">
    <script src="~/dist/main.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/dist/main.js" asp-append-version="true"></script>
</environment>
</body>
</html>